.Tropical{
  color: aqua;
  font-family: fantasy;
  text-align: left;
  font-size: medium;

}
.Popular{
  color: blueviolet;
  font-style: italic;
}
.Tropical p{
  color: black;
}
#tropical{
  height: 500px;
  width: 600px;
}
.Popular p{
  color: black;
}